<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry</title>
</head>
<body>
<form>
    <center>
        <h2> User_Entry</h2>
    Name: <input type="text" name="name" value="{name}}"><br>
    Email<input type="text" name="email" value="{{email}}"><br>
    Contact : <input type="number" name="contact" value="{{contact}}"><br>
    Educational-Background<input type="text" name="details" value="{{educational_details}}"><br>
    Experience<input type="text" name="experience" value="{{work_experience}}"><br>
<!--    Experience<input type="text" name="experience" value="{{experience}}"><br>-->
       Resume <input type="file"
       id="avatar" name="avatar"
       accept="application/pdf, pdf/pdf"><br>


    <select name="option">
            <option value="submit">save</option>
        </select>
        <br/>
        <input type="submit" value="submit"/>
        <br>
        </center>
</form>
</body>
</html>